<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<app-test></app-test>
<button mat-stroked-button>Disabled</button>
<button mat-stroked-button color="warn">Warn</button>
  <button mat-fab aria-label="Example icon-button with a heart icon">
    
  </button>